<h1>Login</h1>


<!-- <form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>

  <button type="submit">Login</button>
</form> -->
<!-- ---------->
<form action="/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      required
    />
    <div id="emailHelp" class="form-text">
      Não vamos compartilhar sua senha com ninguém.
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Lembrar senha</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>
</div>

<style>
form {
width: 400px;
margin: 0 auto;
}
</style>

<a href="/register">Register</a>