*{
  margin: 0 auto;
  font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

main{
  display: flex;
  flex-direction: column;
  background: powderblue;
  height: 100vh;
  width: 100vw;
  font-size: 1.4rem;
}

#header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr ;
  width: 40rem;
  padding-top: 2rem;
}
