*{
  margin: 0 auto;
  text-decoration: none;
  font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  background: powderblue;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
}

#header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

#login__form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  font-size: 1rem;
  /* border: 1px solid white; */
}
.form__item{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 5px 0;
  /* width: 100%; */
  /* border: 1px solid red; */
}


#register-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: small;
  margin-top: 1rem;
  cursor: pointer;
  row-gap: 10px;

}

label {
  margin-left: 0;
}

#submit {
  margin: 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

#succesfull-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 80px;
  color: black;
  background-color: lime;
  border-radius: 6px;
}